@import './global.scss';

.build-your-own {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: url('../assets/images/texture.jpg') no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

//
// PROGRESS BELOW
//

.progress-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;

  .stage-bar {
    display: none;
  }

  .progress {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    margin-left: auto;
    border: 1px solid $secondary-clr;

    h2 {
      text-transform: uppercase;
      display: block;
      padding: 1rem 2rem;
      font-size: clamp(0.9rem, 1vw, 1.2rem);
      font-weight: 500;
      border-right: 1px solid $secondary-clr;
      letter-spacing: 2px;
      color: grey;

      &:last-of-type {
        border: none;
      }

      &.active {
        background-color: $secondary-clr;
        color: white;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }

    &::before {
      border-width: 20px 0 0 20px;
      border-color: transparent transparent transparent $secondary-clr;
      bottom: -2px;
      left: -2px;
    }

    &::after {
      border-width: 0 0 20px 20px;
      border-color: transparent transparent $secondary-clr transparent;
      bottom: -2px;
      right: -2px;
    }
  }

  @media only screen and (max-width: 750px) {
    .progress {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 1rem;

      .stage-bar {
        display: flex;
        width: auto;
        height: 1px;
        gap: 5px;

        span {
          width: 30px;
          height: 100%;
          transition: 300ms;
          background-color: grey;

          &.active {
            background-color: $secondary-clr;
          }
        }
      }

      h2 {
        display: none;
      }

      h2.active {
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }
  }
}

//
// EXIT BTN BELOW
//

.exit-btn {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 10px;
  text-transform: uppercase;
  color: $secondary-clr;
  border: 1px solid grey;
  font-size: 1.1rem;
  transition: 300ms;

  &:hover {
    background-color: white;
    color: black;
  }

  .icon {
    font-size: 1.5rem;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
  }

  &::before {
    border-width: 11px 11px 0 0;
    border-color: $secondary-clr transparent transparent transparent;
    top: -2px;
    left: -2px;
  }

  &::after {
    border-width: 0 0 11px 11px;
    border-color: transparent transparent $secondary-clr transparent;
    right: -2px;
    bottom: -2px;
  }

  @media only screen and (max-width: 750px) {
    & {
      margin-right: 0;
      margin-top: 1px;
      padding: 19px;
      border-color: $secondary-clr;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

//
// FULL SPEC BELOW
//

.full-spec {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  min-height: 100vh;
  background-color: rgb(30, 30, 36);
  transition: 300ms;
  transform: translateX(100%);
  z-index: 10;

  &.active {
    transform: translateX(0%);
  }

  .close-btn {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;

    .icon {
      font-size: 2rem;
      color: $secondary-clr;
    }
  }

  @media only screen and (max-width: 801px) {
    & {
      width: 100%;
    }
  }
}

//
// PC STYLE BELOW
//

.pc-style {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 3rem 1rem 1rem 1rem;
  overflow: hidden;

  .showcase,
  .items {
    width: 100%;
    overflow: hidden;
  }

  .showcase {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .model-showcase {
      width: 90%;
      height: 90%;
    }

    .btn-container {
      display: none;
    }
  }

  @media only screen and (max-width: 1280px) {
    grid-template-columns: 600px auto;

    .showcase {
      width: 100%;
    }
  }

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 550px auto;
  }

  @media only screen and (max-width: 1150px) {
    grid-template-columns: 490px auto;
  }

  @media only screen and (max-width: 1050px) {
    padding: 2rem 0 3rem 0;
    width: 100%;
    grid-template-columns: auto;

    .showcase {
      display: none;
      position: fixed;
      width: 100%;
      min-height: 100vh;
      left: 0;
      top: 0;
      background-color: rgb(10, 10, 10);

      &.active {
        display: block;
      }

      .model-showcase {
        position: absolute;
        top: 70px;
        width: 100%;
        min-height: calc(100vh - 200px);
      }

      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 47px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;

        button {
          border: transparent;
          background-color: $secondary-clr;
          color: white;
          width: 100%;
          padding: 0.7rem;
          text-transform: uppercase;
          font-family: $font-4;
          font-weight: 400;
        }

        .full-spec-btn {
          border-right: 1px solid black;
        }
      }
    }
  }

  .items {
    width: 540px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1050px) {
      width: 100%;
      height: auto;
      background-color: transparent;
    }

    .row-1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      h2 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;

        span {
          color: $secondary-clr;
        }
      }

      .filter-btn,
      .sort-btn {
        border: 1px solid transparent;
        background-color: transparent;
        padding: 0.7rem 1.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: $font-4;
        font-weight: 500;
        color: $text-clr;
        border: 1px solid grey;
        transition: 300ms;
        cursor: pointer;

        &:hover {
          background-color: white;
          border-color: black;
          color: black;
        }
      }

      .filter-btn {
        margin-left: auto;
      }

      @media only screen and (max-width: 500px) {
        padding: 0 1rem;

        h2 {
          display: none;
        }

        .filter-btn,
        .sort-btn {
          margin: 0;
          width: 100%;
        }
      }
    }

    .row-2 {
      width: 100%;
      height: 500px;
      overflow-x: hidden;
      overflow-y: scroll;
      display: grid;
      gap: 10px;
      padding: 5px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      @media only screen and (max-width: 1050px) {
        overflow: hidden;
        height: auto;
        padding: 1rem;
      }

      .item {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-rows: auto 1fr auto;
        border: 1px solid grey;
        background: linear-gradient(
          135.8deg,
          rgb(26, 26, 29) 27.1%,
          rgb(66, 66, 66) 77.5%
        );

        h3 {
          display: block;
          padding: 0.7rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
          border-bottom: 1px solid grey;
        }

        .img-container {
          width: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 50%;
            max-width: 150px;
            object-fit: cover;
          }
        }

        .btn-container {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 1px solid grey;

          button {
            display: block;
            cursor: pointer;
            border: transparent;
            text-align: center;
            background-color: transparent;
            padding: 0.5rem;
            width: 100%;
            font-family: $font-4;
            color: $text-clr;

            &:nth-of-type(1) {
              border-right: 1px solid grey;
            }
          }

          .preview-btn {
            display: none;

            @media only screen and (max-width: 1050px) {
              display: block;
            }
          }
        }
      }
    }

    .row-3 {
      display: block;
      text-transform: uppercase;
      border: transparent;
      background-color: $secondary-clr;
      width: 100%;
      padding: 1rem;
      cursor: pointer;
      color: white;
      font-family: $font-4;
      font-size: 1.2rem;

      @media only screen and (max-width: 1050px) {
        position: fixed;
        bottom: 0;
        font-size: 1rem;
        padding: 0.7rem;
        z-index: 9;
      }
    }
  }
}
