@import './global.scss';

.build-your-own {
  width: 100%;
  min-height: 100vh;
  background: url('../assets/images/texture.jpg') no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//
// PROGRESS BELOW
//

.progress-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .stage-bar {
    display: none;
  }

  .progress {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    margin-left: auto;
    border: 1px solid $secondary-clr;

    h2 {
      text-transform: uppercase;
      display: block;
      padding: 1rem 2rem;
      font-size: clamp(0.9rem, 1vw, 1.2rem);
      font-weight: 500;
      border-right: 1px solid $secondary-clr;
      letter-spacing: 2px;
      color: grey;

      &:last-of-type {
        border: none;
      }

      &.active {
        background-color: $secondary-clr;
        color: white;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }

    &::before {
      border-width: 20px 0 0 20px;
      border-color: transparent transparent transparent $secondary-clr;
      bottom: -2px;
      left: -2px;
    }

    &::after {
      border-width: 0 0 20px 20px;
      border-color: transparent transparent $secondary-clr transparent;
      bottom: -2px;
      right: -2px;
    }
  }

  @media only screen and (max-width: 750px) {
    .progress {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 1rem;

      .stage-bar {
        display: flex;
        width: auto;
        height: 1px;
        gap: 5px;

        span {
          width: 30px;
          height: 100%;
          transition: 300ms;
          background-color: grey;

          &.active {
            background-color: $secondary-clr;
          }
        }
      }

      h2 {
        display: none;
      }

      h2.active {
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }
  }
}

//
// EXIT BTN BELOW
//

.exit-btn {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 10px;
  text-transform: uppercase;
  color: $secondary-clr;
  border: 1px solid grey;
  font-size: 1.1rem;
  transition: 300ms;

  &:hover {
    background-color: white;
    color: black;
  }

  .icon {
    font-size: 1.5rem;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
  }

  &::before {
    border-width: 11px 11px 0 0;
    border-color: $secondary-clr transparent transparent transparent;
    top: -2px;
    left: -2px;
  }

  &::after {
    border-width: 0 0 11px 11px;
    border-color: transparent transparent $secondary-clr transparent;
    right: -2px;
    bottom: -2px;
  }

  @media only screen and (max-width: 750px) {
    & {
      margin-right: 0;
      margin-top: 1px;
      padding: 19px;
      border-color: $secondary-clr;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}
