@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

$main-clr: rgb(20, 20, 20);
$secondary-clr: rgb(184, 151, 80);
$accent-clr: rgb(255, 170, 59);
$text-clr: rgb(206, 206, 206);
$border-clr: rgba(255, 255, 255, 0.3);
$font-1: 'Raleway', sans-serif;
$font-2: 'Oswald', sans-serif;
$font-3: 'Cormorant SC', serif;
$font-4: 'Saira Condensed', sans-serif;
